<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="stylesheet" href="/terms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%-include("includes/navbar.ejs") %>
    <style>
        #acceptable {
            color: #f00;
        }
    </style>
</head>
<body>
    <%- include("includes/same.ejs") %>
    <body>
        <div class="container">
            <h1>Acceptable use</h1>
            <br>
            <p>Quora is a place that empowers people to share and grow the world's knowledge. The following policies help everyone on Quora have a safe experience:</p>
            <br>
            <h2>Platform Policies</h2>
            <br>
            <p>Spaces Policies</p>
            <p>For additional questions, please visit our Help Center</p>
            <br>
            <h2>No Malicious or Illegal Activity</h2>
            <br>
            <p>Do not contribute viruses, malware, and other malicious programs or engage in activity that harms or interferes with the operation of Quora or seeks to circumvent security or authentication measures. Do not use Quora to engage in unlawful activity.</p>
            <br>
            <h2>Reporting Problems</h2>
            <br>
            <p>If you see something on Quora that you believe violates our guidelines or policies, please report it to us using the in-product reporting tool, or via our contact form.</p>
            <br>
            <h2>Enforcement</h2>
            <br>
            <p>Quora has the sole authority and final decision as to whether content or behavior violates these policies. We may enforce these policies in a variety of ways, including, but not limited to written warnings, removal of content, adding warning tags to content, or the limitation or termination of a user’s access to Quora.</p>
            <br>
            <h2>Updates</h2>
            <br>
            <p>We also may change these policies from time-to-time by posting an updated version of these policies.</p>
            <br>
            <br>
        </div>
</body>
</html>