<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        #careers {
            color: #f00;
        }
    </style>
    <%-include("includes/navbar.ejs") %>
</head>
<body>
    <%- include("includes/same.ejs") %>
    <div class="container">
        <div class="image-container">
            <img src="/uploads/img5.png" alt="Illustration">
        </div>
        <div class="text-content">
            <h2>Our mission is to share and grow the world’s knowledge.</h2>
            <p>
                The vast majority of human knowledge is still not on the internet. Most of it is trapped in the form of experience in people’s heads, or buried in books and papers that only experts can access. More than a billion people use the internet yet only a tiny fraction contribute their knowledge to it. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Our mission is to share and grow the world's knowledge, and we're building a world-class team to help us achieve this mission.
            </p>
        </div>
    </div>
    <div class="container" style="display: inline-block;">
        <div class="text-content">
            <h2>Why Quora?</h2>
            <p>
                Visit our "Why Quora" page to read firsthand accounts from our employees about their experiences, what they appreciate most about our culture, and why they love working with us            </p>
        </div>
        <div class="image-container">
            <img src="/uploads/img8.jpg" alt="Illustration">
        </div>
    </div>
    <div class="container">
        <div class="image-container">
            <img src="/uploads/img3.webp" alt="Illustration">
        </div>
        <div class="text-content">
            <h2>Tell a story</h2>
            <p>
                Ever since the first humans gathered around a fire and turned their gaze to the stars, humanity has shared knowledge through stories. Spaces are digital campfires for collective meaning making which expand knowledge sharing from interrogative to narrative. In Spaces, creators build audiences of millions for their unique insights or audiences of thousands for niche knowledge that can't be found anywhere else.            </p>
        </div>
    </div>
    <div class="container">
        <div class="image-container">
            <img src="/uploads/img4.webp" alt="Illustration">
        </div>
        <div class="text-content">
            <h2>Understand the world and people in it</h2>
            <p>
                Great writers help you understand why the world works the way it does, why people behave the way they do, and what we can all do to make the world better. Millions of people search the web for answers and millions of people write answers on Quora, every week.        </div>
    </div>
</body>
</html>