<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="stylesheet" href="/terms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%-include("includes/navbar.ejs") %>
    <style>
        #privacy {
            color: #f00;
        }
    </style>
</head>
<body>
    <%- include("includes/same.ejs") %>
    <body>
        <div class="container">
            <h1>Privacy Policy</h1>
            <br>
            <p><em>Effective date: March 4, 2024</em></p>
            <p>This Quora Privacy Policy (“Privacy Policy”) describes our policies and procedures on the collection, use, disclosure, and sharing of your personal information when you use the Quora Platform. This Privacy Policy applies to activities by Quora, Inc. and its affiliates and subsidiaries (collectively “Quora,” “we” or “us”). Capitalized terms that are not defined in this Privacy Policy have the meaning given to them in our Terms of Service. Quora Inc. is the data controller of your personal information and is responsible for providing you with this Privacy Policy.</p>
            <br>
            <h2>Information We Collect</h2>
            <br>
    <p>We collect information directly from you, from third parties, and automatically through your use of the Quora Platform.</p>
    
    <h3>Account and Profile Data</h3>
    <br>
    <p>When you create an account and profile on the Quora Platform, we collect your name, email address, and other information you provide...</p>
    <br>
    <h3>Your Content</h3>
    <br>
    <p>We collect the information and content that you post to the Quora Platform, including your questions, answers, comments, photos...</p>
    <br>
    <h3>Communication Records</h3>
    <br>
    <p>We maintain a record when you communicate with us via email, through the Quora Platform, or otherwise...</p>
    <br>
    <h3>Third Party Application Login</h3>
    <br>
    <p>You can log into your Quora account using third party applications (e.g., Facebook, Google, and Apple)...</p>
    <br>
    <h3>Cookies and Similar Technologies</h3>
    <br>
    <p>We and our third party providers use cookies, log files, pixel tags, local storage objects, and other similar technologies...</p>
    <br>
    <h3>Billing and Payment Data</h3>
    <br>
    <p>We collect billing information if you subscribe to the Quora+ Platform, and we collect payment information if you are a paid Quora creator...</p>
    <br>
    <h3>Platform Engagement Data</h3>
    <br>
    <p>We collect platform engagement and browsing information, such as IP address, date and time stamp, user agent...</p>
    
    <h3>Data From Advertisers</h3>
    <br>
    <p>Third party advertisers who use our Ad Services may also provide us with information about you as part of their ad campaigns...</p>
    <br>
</div>
        </div>
</body>
</html>