<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="stylesheet" href="/terms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%-include("includes/navbar.ejs") %>
    <style>
        #terms {
            color: #f00;
        }
    </style>
</head>
<body>
    <%- include("includes/same.ejs") %>
    <body>
        <div class="container">
            <h1>Terms of Service</h1>
            <p><em>Effective date: March 4, 2024</em></p>
            <p>Welcome to Quora! Quora is a platform to gain and share knowledge, empowering people to learn from others and better understand the world through our websites and applications (“Quora” or the “Quora Platform”).</p>
            <p>These terms of service (“Terms”) are an agreement between you and Quora, Inc. (“Quora” “we” or “us”). These Terms govern your use of the products and services we offer. By using Quora, you consent to these Terms.</p>
            <p>Your access to and use of Quora is also subject to our policies, including our <a href="#">Privacy Policy</a> and <a href="#">Acceptable Use Policy</a>.</p>
            <br>
            <div class="notice">
                IMPORTANT ARBITRATION NOTICE: IF YOU ARE IN THE UNITED STATES OR CANADA, YOU AGREE THAT DISPUTES BETWEEN YOU AND QUORA WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE ARBITRATION. WE EXPLAIN SOME EXCEPTIONS AND HOW YOU CAN OPT OUT OF ARBITRATION BELOW IN SECTION 11.
            </div>
            <br>
            <h2>1. Your Use of Quora</h2>
            <h3>1.1 Age requirements and responsibility of parents and legal guardians.</h3>
            <p>Use of Quora by anyone under 13 years of age is prohibited...</p>
            <br>
            <h3>1.2 Registration.</h3>
            <p>When you set up a profile on the Quora Platform, you will be asked to provide certain information about yourself...</p>
            <br>
            <h3>1.3 Compliance with Quora Policies.</h3>
            <p>Quora relies on a number of tools to ensure everyone on Quora has a safe experience while sharing and growing the world's knowledge...</p>
            <br>
            <h2>2. Privacy</h2>
            <p>Our privacy practices are set forth in our <a href="#">Privacy Policy</a>. By using Quora, you accept our Privacy Policy, regardless of whether you are a registered user.</p>
            <br>
            <h2>3. Your Content</h2>
            <h3>3.1 Your Content.</h3>
            <p>Quora enables you to add posts, text, photos, videos, links, and other files and information to share with other users of Quora...</p>
            <br>
            <h3>3.2 License and Permission to Use Your Content.</h3>
            <p>By submitting, posting, displaying, or transmitting Your Content on or through the Quora Platform, you grant Quora and its affiliated companies a nonexclusive, worldwide, royalty-free, fully paid-up, transferable, sublicensable (through multiple tiers) license to use...</p>
            <br>
            <h3>3.3 Your Responsibilities for Your Content.</h3>
            <br>
            <p>By posting Your Content on the Quora Platform, you represent and warrant to us that...</p>
            <br>
            <br>
        </div>
</body>
</html>
